<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaConexion.Properties.Settings.EleccionesSDConnectionString"
            connectionString="Data Source=BATMAN01\SQLEXPRESS01;Initial Catalog=EleccionesSD;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>